<nav class="top-navbar"> 
        <!-- MOBILE BUTTON --> <button class="mobile-menu-btn" onclick="toggleSidebar()"> 
            <i class="bi bi-list"></i> </button> 
        <!-- RIGHT -->
    <div class="navbar-right"> 
        <!-- SEARCH -->
        <div class="search-box"> 
            <i class="bi bi-search"></i> <input type="text" placeholder="Pesquisar..."> 
        </div>
        <!-- NOTIFICATION --> <button class="icon-btn"> <i class="bi bi-bell"></i> </button> 
        <!-- USER -->
        <div class="user-menu"><i class="bi bi-person-square"></i>
             <!--<img src="{{ url_for('static', filename='img/avatar.jpg') }}" alt="Usuário">-->
            <span>Lucas</span> </div>
{% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('auth.logout') }}">
                        Sair
                    </a>
                </li>

{% endif %}
    </div>
</nav>