{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Pacientes</h1>
        <a href="{{ url_for('patients.patient_form') }}"
        class="btn btn-success">Novo Paciente</a>
    </div>

    <div class="card shadow-sm p-4">

        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>João Silva</td>
                    <td>(19) 99999-9999</td>
                    <td>Ativo</td>
                    <td>
    <a href="{{ url_for('patients.patient_profile', id=1) }}"
       class="btn btn-outline-success btn-sm">
        Visualizar
    </a>
</td>

                </tr>
            </tbody>
        </table>

    </div>

</div>

{% endblock %}