{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="card shadow-sm rounded-4">
        <div class="card-body">
            <h2>{{ patient.full_name }}</h2>
            <p>{{ patient.phone }}</p>
            <p>{{ patient.cpf }}</p>
            <p> {% if patient.birth_date %}
                {{ patient.birth_date.strftime('%d/%m/%Y') }}
                {% endif %}</p>
            <span class="badge bg-primary">
                {{ patient.evolutions|length }}
            </span>
            <hr>
            <div class="row g-3">
                <div class="col-md-4">
                    <a href="{{ url_for('patients.anamnesis_form', id=patient_id) }}"
                       class="btn btn-outline-primary w-100">
                        Anamnese
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{{ url_for('patients.evolution_list', id=patient_id) }}"
                       class="btn btn-outline-primary w-100">
                        Evoluções
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{{ url_for('patients.treatment_plan', id=patient_id) }}"
                       class="btn btn-outline-primary w-100">
                        Plano Terapêutico
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{{ url_for('patients.appointments', id=patient_id) }}"
                       class="btn btn-outline-primary w-100">
                        Agenda
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{{ url_for('patients.documents', id=patient_id) }}"
                       class="btn btn-outline-primary w-100">
                        Documentos
                    </a>
                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}