{% block content %}

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Pacientes</h1>

        <button class="btn btn-success">
            Novo Paciente
        </button>
    </div>

    <div class="card shadow-sm p-4">

        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>João Silva</td>
                    <td>(19) 99999-9999</td>
                    <td>Ativo</td>
                    <td>
                        <button class="btn btn-outline-success btn-sm">
                            Visualizar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

{% endblock %}